{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <main class="article w960 bw p20">
        <article class="clearfix">
            <h1 class="fz18 tc mb10">少儿财商_儿童财商启蒙书籍</h1>
            <table border="1" class="book w">
                <caption class="tc mtb10">100本青少年提升财商书单</caption>
                <p class="tc">序号并不代表阅读先后顺序，低龄/高龄的划分供您参考，并不是严格的年龄限制，请您根据孩子的实际阅读能力做出调整。</p>
                <tbody>
                    <tr>
                        <td>书名</td>
                        <td>作者</td>
                    </tr>
                    <tr>
                        <td colspan="2">低龄（8岁以下）</td>
                    </tr>
                    <tr>
                        <td>《爱丽丝漫游仙境》</td>
                        <td>（英）刘易斯·卡罗尔</td>
                    </tr>
                    <tr>
                        <td>《柳林风声》</td>
                        <td>（英）肯尼斯·格雷厄姆</td>
                    </tr>
                    <tr>
                        <td>《走进奇妙的几何世界》</td>
                        <td>（英）格里贝利 等</td>
                    </tr>
                    <tr>
                        <td>《彼得兔的故事》</td>
                        <td>（英）波特</td>
                    </tr>
                    <tr>
                        <td>《我爸爸+我妈妈》</td>
                        <td>（英）安东尼·布朗</td>
                    </tr>
                    <tr>
                        <td>《小熊维尼历险记》</td>
                        <td>（英）艾伦·亚历山大·尼尔恩</td>
                    </tr>
                    <tr>
                        <td>《晚安，月亮》</td>
                        <td>（美）玛格丽特·怀兹·布朗</td>
                    </tr>
                    <tr>
                        <td>《杜立德医生》</td>
                        <td>（美）休·洛夫廷</td>
                    </tr>
                    <tr>
                        <td>《爱心树》</td>
                        <td>（美）谢尔·希尔弗斯坦</td>
                    </tr>
                    <tr>
                        <td>《生命的故事》</td>
                        <td>（美）维吉尼亚·李·伯顿</td>
                    </tr>
                    <tr>
                        <td>《神奇校车》</td>
                        <td>（美）乔安娜·柯尔</td>
                    </tr>
                    <tr>
                        <td>《断喙鸟》</td>
                        <td>(美)纳桑尼·拉胥梅耶/罗伯特英潘</td>
                    </tr>
                    <tr>
                        <td>《你很特别系列》</td>
                        <td>(美)陆可铎</td>
                    </tr>
                    <tr>
                        <td>《新旧约启蒙故事》</td>
                        <td>(美)大卫·赫姆</td>
                    </tr>
                    <tr>
                        <td>《糖溪帮探险记》</td>
                        <td>（美）保罗·哈钦斯</td>
                    </tr>
                    <tr>
                        <td>《花婆婆》</td>
                        <td>(美)芭芭拉库尼</td>
                    </tr>
                    <tr>
                        <td>夏洛的网+精灵鼠小弟》</td>
                        <td>(美)E·B·怀特</td>
                    </tr>
                    <tr>
                        <td>《木偶奇遇记》</td>
                        <td>(意)卡尔洛·科洛迪</td>
                    </tr>
                    <tr>
                        <td>《不一样的卡梅拉》</td>
                        <td>(法)克里斯提昂·约里波瓦/文(法)克里斯提昂·艾利施/图</td>
                    </tr>
                    <tr>
                        <td>《—个人需要多少土地》</td>
                        <td>(法)安妮丽丝·厄尔捷(著)拉斐尔·于尔维(绘)</td>
                    </tr>
                    <tr>
                        <td>《巴巴的故事》</td>
                        <td>(法)让·德·布朗霍夫</td>
                    </tr>
                    <tr>
                        <td>《植树的男人》</td>
                        <td>(法)让·乔诺</td>
                    </tr>
                    <tr>
                        <td>《小淘气尼古拉》</td>
                        <td>(法)戈西尼 编文,(法)桑贝 绘</td>
                    </tr>
                    <tr>
                        <td>《昆虫记》</td>
                        <td>(法)法布尔</td>
                    </tr>
                    <tr>
                        <td>《活了100万次的猫》</td>
                        <td>(日)佐野洋子</td>
                    </tr>
                    <tr>
                        <td>《一年级大个子二年级小个子》</td>
                        <td>(日)古田足日</td>
                    </tr>
                    <tr>
                        <td>《宇宙之美》</td>
                        <td>(日)渡部好惠</td>
                    </tr>
                    <tr>
                        <td>《美丽的数学系列》</td>
                        <td>(日)安野光雅</td>
                    </tr>
                    <tr>
                        <td>《有趣的月亮观察绘本》</td>
                        <td>(日)大枝史郎 著 / [日]佐藤美纪 绘</td>
                    </tr>
                    <tr>
                        <td>《中国经典动画大全集系列》</td>
                        <td>(中)上海制片厂</td>
                    </tr>
                    <tr>
                        <td>《百年百部中国儿童经典书系》</td>
                        <td>(中)湖北少年儿童出版社</td>
                    </tr>
                    <tr>
                        <td>《鲁西西传+皮皮鲁+舒克贝塔历险记》</td>
                        <td>(中)郑渊洁</td>
                    </tr>
                    <tr>
                        <td>《大科学家的小故事》</td>
                        <td>(台)张文亮</td>
                    </tr>
                    <tr>
                        <td>《写给儿童的历史+地理系列》</td>
                        <td>(台)陈卫平</td>
                    </tr>
                    <tr>
                        <td>《蝴蝶豌豆花》</td>
                        <td>(中)冰心,叶圣陶,金波</td>
                    </tr>
                    <tr>
                        <td>《小莲游莫奈花园系列绘本》</td>
                        <td>(瑞典)克里斯蒂娜·比约克&莉娜·安德森</td>
                    </tr>
                    <tr>
                        <td>《一年的光阴》</td>
                        <td>(瑞典)贝丝蔻</td>
                    </tr>
                    <tr>
                        <td>《尼尔斯骑鹅旅行记》</td>
                        <td>(瑞典)塞尔玛·拉格洛芙</td>
                    </tr>
                    <tr>
                        <td>《豆蔻镇的居民和强盗》</td>
                        <td>(挪威)托比扬·埃格纳</td>
                    </tr>
                    <tr>
                        <td>《爷爷一定有办法》</td>
                        <td>(加拿大)菲比·吉尔曼</td>
                    </tr>
                    <tr>
                        <td>《听妈妈讲那圣经里的故事》</td>
                        <td>(荷)冯罗敦希尔</td>
                    </tr>
                    <tr>
                        <td>《伊索寓言》</td>
                        <td>(古希腊)伊索</td>
                    </tr>
                    <tr>
                        <td>《地图(人文版)》</td>
                        <td>(波)亚历山德拉·米热林斯卡 丹尼尔·米热林斯基</td>
                    </tr>
                    <tr>
                        <td>《托尔斯泰儿童故事选》</td>
                        <td>(俄)列夫·托尔斯泰</td>
                    </tr>
                    <tr>
                        <td>《大自然的日历》</td>
                        <td>(苏联)普里什文</td>
                    </tr>
                    <tr>
                        <td>《一粒种子的旅行+世界上最最温馨的家》</td>
                        <td>(德)安妮·默勒</td>
                    </tr>
                    <tr>
                        <td>《安徒生童话精选》</td>
                        <td>(丹麦)安徒生</td>
                    </tr>
                    <tr>
                        <td>《丁丁历险记》</td>
                        <td>(比利时)埃尔热</td>
                    </tr>
                    <tr>
                        <td>《献给孩子们的--世界建筑之旅(绘本)》</td>
                        <td>(韩)裴允经着，金言经绘</td>
                    </tr>
                    <tr>
                        <td colspan="2">高龄（8岁以上）</td>
                    </tr>
                    <tr>
                        <td>《丛林故事》</td>
                        <td>(英)约瑟夫·鲁德亚德·吉卜林</td>
                    </tr>
                    <tr>
                        <td>《魔戒》</td>
                        <td>(英)托尔金 J.R.R. Tolkien</td>
                    </tr>
                    <tr>
                        <td>《哈利波特》</td>
                        <td>(英)J·K罗琳</td>
                    </tr>
                    <tr>
                        <td>《纳尼亚传奇》</td>
                        <td>(英)C·S刘易斯</td>
                    </tr>
                    <tr>
                        <td>《一个孩子的诗园》</td>
                        <td>(英)斯蒂文森</td>
                    </tr>
                    <tr>
                        <td>《格列佛游记》</td>
                        <td>(英)乔纳森·斯威夫特</td>
                    </tr>
                    <tr>
                        <td>《鲁滨孙漂流记》</td>
                        <td>(英)丹尼尔·笛福</td>
                    </tr>
                    <tr>
                        <td>《圣诞故事集》</td>
                        <td>(英)查尔斯·狄更斯</td>
                    </tr>
                    <tr>
                        <td>《王尔德童话(快乐王子集)》</td>
                        <td>(英)奥斯卡·王尔德</td>
                    </tr>
                    <tr>
                        <td>《福尔摩斯探案集》</td>
                        <td>(英)阿瑟·柯南道尔</td>
                    </tr>
                    <tr>
                        <td>《战马》</td>
                        <td>(英)迈克尔·莫尔普戈</td>
                    </tr>
                    <tr>
                        <td>《简·爱》</td>
                        <td>(英)夏洛蒂·勃朗特</td>
                    </tr>
                    <tr>
                        <td>《汤姆叔叔的小屋》</td>
                        <td>(美)斯托夫人</td>
                    </tr>
                    <tr>
                        <td>《孩子,先别急着吃棉花糖》</td>
                        <td>(美)乔辛·迪·波沙达</td>
                    </tr>
                    <tr>
                        <td>《少有人走的路》</td>
                        <td>(美)派克</td>
                    </tr>
                    <tr>
                        <td>《老人与海》</td>
                        <td>(美)欧内斯·特米勒·海明威</td>
                    </tr>
                    <tr>
                        <td>《汤姆索亚历险记》</td>
                        <td>(美)马克·吐温</td>
                    </tr>
                    <tr>
                        <td>《秘密花园》</td>
                        <td>(美)弗朗西斯·霍奇森·伯内特</td>
                    </tr>
                    <tr>
                        <td>《布鲁克林有棵树》</td>
                        <td>(美)贝蒂·史密斯</td>
                    </tr>
                    <tr>
                        <td>《我与世界面对面》</td>
                        <td>(法)奥斯卡·伯瑞尼弗</td>
                    </tr>
                    <tr>
                        <td>《悲惨世界》</td>
                        <td>(法)维克多·雨果</td>
                    </tr>
                    <tr>
                        <td>《小王子》</td>
                        <td>(法)圣埃克苏佩里</td>
                    </tr>
                    <tr>
                        <td>《凡尔纳科幻经典系列》</td>
                        <td>(法)儒勒·凡尔纳</td>
                    </tr>
                    <tr>
                        <td>《拉·封丹寓言》</td>
                        <td>(法)拉封丹</td>
                    </tr>
                    <tr>
                        <td>《普希金童话诗》</td>
                        <td>(俄)普希金</td>
                    </tr>
                    <tr>
                        <td>《复活》</td>
                        <td>(俄)列夫·托尔斯泰</td>
                    </tr>
                    <tr>
                        <td>《克雷洛夫寓言全集》</td>
                        <td>(俄)克雷洛夫</td>
                    </tr>
                    <tr>
                        <td>《毛毛》</td>
                        <td>(德)米切尔恩德</td>
                    </tr>
                    <tr>
                        <td>《格林童话精选》</td>
                        <td>(德)格林兄弟</td>
                    </tr>
                    <tr>
                        <td>《少年维特的烦恼》</td>
                        <td>(德)歌德</td>
                    </tr>
                    <tr>
                        <td>《父与子》</td>
                        <td>(德)卜劳恩</td>
                    </tr>
                    <tr>
                        <td>《林汉达历史故事集》</td>
                        <td>(中)林汉达、曹余章</td>
                    </tr>
                    <tr>
                        <td>《蔡志忠典藏国学漫画系列》</td>
                        <td>(台)蔡志忠</td>
                    </tr>
                    <tr>
                        <td>《牵一只蜗牛去散步》</td>
                        <td>(台)张文亮</td>
                    </tr>
                    <tr>
                        <td>《我不是完美小孩》</td>
                        <td>(台)几米</td>
                    </tr>
                    <tr>
                        <td>《周国平散文选》</td>
                        <td>(中)周国平</td>
                    </tr>
                    <tr>
                        <td>《朝花夕拾》</td>
                        <td>(中)鲁迅</td>
                    </tr>
                    <tr>
                        <td>《傅雷家书》</td>
                        <td>(中)傅雷</td>
                    </tr>
                    <tr>
                        <td>《少年音乐和美术故事》</td>
                        <td>(中)丰子恺</td>
                    </tr>
                    <tr>
                        <td>《给孩子的诗》</td>
                        <td>(中)北岛</td>
                    </tr>
                    <tr>
                        <td>《你往何处去》</td>
                        <td>(波)显克维奇</td>
                    </tr>
                    <tr>
                        <td>《窗边的小豆豆》</td>
                        <td>(日本)黑柳彻子</td>
                    </tr>
                    <tr>
                        <td>《我亲爱的甜橙树》</td>
                        <td>(巴西)若泽·毛罗·德瓦斯康塞洛斯</td>
                    </tr>
                    <tr>
                        <td>《纪伯伦诗选》</td>
                        <td>(黎巴嫩)纪伯伦</td>
                    </tr>
                    <tr>
                        <td>《希利尔:讲世界史、世界地理、艺术史》</td>
                        <td>(加-美)希利尔</td>
                    </tr>
                    <tr>
                        <td>《魔法师的帽子》</td>
                        <td>(芬兰)托芙扬松</td>
                    </tr>
                    <tr>
                        <td>《泰戈尔诗选》</td>
                        <td>(印度)泰戈尔</td>
                    </tr>
                    <tr>
                        <td>《爱的教育》</td>
                        <td>(意大利)亚米契斯</td>
                    </tr>
                    <tr>
                        <td>《书的故事》</td>
                        <td>(苏联)米伊林</td>
                    </tr>
                    <tr>
                        <td>《苏菲的世界》</td>
                        <td>(挪威)乔斯坦·贾德</td>
                    </tr>
                </tbody>
            </table>
            <p><strong>培养孩子的阅读习惯，榜样、自主、兴趣是关键。</strong>以下三点供您参考：</p>
            <p>1、榜样  安排家庭阅读时刻，一起分享交流；</p>
            <p>2 、自主  定期带孩子去书店，鼓励孩子自主挑选，并交流择书的想法；</p>
            <p>3 、增加阅读仪式感和趣味  做一个家庭阅读打卡清单，把书名贴出来可以看到；玩阅读宾果游戏：设立一些阅读条件，让孩子体验多种类型多种形式的阅读体验；在阅读任务起始举行挑战和庆祝的仪式给予奖励。</p>
        </article>
    </main>
{% endblock %}