{% extends 'basic.html' %}
{% load static %}
{% block content %}
    修改密码
    <form action="/changepwd/" method="post">
        <p>
            <label for="id_old_password">旧密码:</label>
            <input type="password" name="old_password" autofocus="" required="" id="id_old_password">
            {{ forms.errors.old_password }}
        </p>
        <p>
            <label for="id_new_password1">新密码:</label>
            <input type="password" name="new_password1" required="" id="id_new_password1">
            {{ forms.errors.new_password1 }}
        </p>
        <p>
            <label for="id_new_password2">新密码确认:</label>
            <input type="password" name="new_password2" required="" id="id_new_password2">
            {{ forms.errors.new_password2 }}
        </p>
        {% csrf_token %}
        <button type="submit">提交</button>
    </form>
{% endblock %}