{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="clearfix"></div>
    <main class="article w960 bw p20">
        <article>
            <h2 class="none">财商教育培训</h2>
            <section>
                <h2 class="fz18 fb tc mb10">财商教育培训_财商培训课程《格局财商2019》</h2>
                <p>
                    一年50次精品<strong>财商课</strong>，通过5大模块帮你建立商业思维的底层逻辑；
                </p>
                <p>
                    <strong>财经知识</strong>的认知格局，信念价值观的成型塑造；
                </p>
                <p>
                    仅需365元，一天1块钱！
                </p>
                <h2 class="fz16 fb">财商课程5大模块</h2>
                <p>25本经典与最新<strong>财经商业书籍</strong>讲解</p>
                <p>2019年全年财经事件解读分析</p>
                <p>最新商业模式、商机案例讲解推荐<a href="/">价值投资</a></p>
                <p><strong>投资理财</strong>知识方法的讲解传授</p>
                <p>全年资产配置、投资机遇详细解读</p>
            </section>
            <figure class="tc">
                <figcaption class="fz20 fb mtb20">导师介绍</figcaption>
                <img src="{% static 'images/daoshi.png' %}" height="auto" width="750" alt="财商培训课程">
            </figure>
            <section class="box">
                <ul>
                    <li>
                        <h2 class="fz16">主题：远离金融陷阱</h2>
                        <p class="fz16">解决什么问题：哪些是金融坑？如何远离社会上的金融陷阱？</p>
                        <p class="fz16">细分知识点：解读P2P、贵金属、原油期货、外汇期货、信托计划、文化艺术品、古董等；</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：银行理财</h2>
                        <p class="fz16">细分知识点：银行理财产品解析</p>
                        <p class="fz16">解决什么问题：如何购买银行理财？如何分辨理财风险？</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：保险</h2>
                        <p class="fz16">细分知识点：保险的分类、投资理财型保险的问题、重大疾病保险注意、什么保险是可以购买的、外资保险产品重要提示、家庭保险的基本清单及渠道</p>
                        <p class="fz16">解决什么问题：哪些保险是必须的？哪些保险是不必要购买的？如何配置和购买保险？</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：<strong>投资理财正确的价值观</strong></h2>
                        <p class="fz16">细分知识点：格局精神10条、投资三大天条、什么是财务自由</p>
                        <p class="fz16">解决什么问题：投资理财需要什么样的心态？</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：资产类别</h2>
                        <p class="fz16">细分知识点：外资保险产品重要提示、世界上主要的资产类别、解读资本市场、股权与债券、45岁前不要放弃主动收入、资产的三种划分、不动产与金融资产的关系</p>
                        <p class="fz16">解决什么问题：不同的资产有什么特点？</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：基金基础知识</h2>
                        <p class="fz16">细分知识点：世界上主要的资产类别、基金的概念和常识、基金的分类、基金的费用、基金的投资方法</p>
                        <p class="fz16">解决什么问题：基金到底是什么？</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：不动产的选择与投资</h2>
                        <p class="fz16">细分知识点：不动产的分类、最具投资价值房产的6大指标、未来投资不动产的五个前提条件、关于房产税、关于小产权房、关于多贷款还是少贷款、关于度假房、商铺是否还值得投资、关于海外资产配置</p>
                        <p class="fz16">解决什么问题：什么房子才可以投资？房税对房子的影响？哪些是房产的坑？海外房产能否购买？</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：经典财商智慧解读</h2>
                        <p class="fz16">细分知识点：《富爸爸穷爸爸》《小狗钱钱》彼得林奇的成功投资》《穷查理宝典》《定位》《营销战》《金融的逻辑》《史记行商列传》《史玉柱自述：我的营销心得》《创业的三十六条军规》《财务报表就像一本故事书》《商业冒险：华尔街的12个经典故事》《超额收益》《股市进阶之道-一个散户的自我修养》《戴维斯王朝》《中央帝国的财政密码》《虎部队：国民党抗日王牌七十四军》《MBA教不了的创富课》《影响力》《能断金刚》《如何获得真正的财富》《李嘉诚传》《股市真规则》《祖鲁法则》《乌合之众》</p>
                        <p class="fz16">解决什么问题：什么是资产（负债）？要养大金鹅、大牛股在身边、大师级投资智慧、营销理论巅峰之作、商战中的战略选择、深刻理解金融、中国商业智慧、营销顶级高手思想、创业创富少走弯路、财务分析能力、商业智慧、价值投资入门、价值投资、价值投资、为什么房产税一定要收？理解企业文化、价值链与成本链、营销能力、舍与得、草根商业思想、要养大金鹅、价值投资参考、巨商智慧、大众心理学</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：财经&商机&市场解读</h2>
                        <p class="fz16">细分知识点：1-12月财经&商机&市场解读</p>
                        <p class="fz16">解决什么问题：对财经事件的理解、对商业机会的理解、对资本市场波动的理解、对投资人的理解</p>
                    </li>
                    <li>
                        <h2 class="fz16">主题：投资理财正确的价值观</h2>
                        <p class="fz16">细分知识点：格局精神10条、投资三大天条、什么是财务自由</p>
                        <p class="fz16">解决什么问题：投资理财需要什么样的心态？</p>
                    </li>
                </ul>
            </section>
        </article>
    </main>
{% endblock %}