{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="clearfix"></div>
    <main class="article w960 bw p20">
        <article>
            <h1 class="fz18 tc mb10">财商课程可以解决你哪些问题，哪些解决不了？</h1>
            <section>
                <h2>可以为你解决以下问题：</h2>
                <p>工资收入之外，没有其他被动收入来源；</p>
                <p>金融陷阱满天飞，不知道如何去分辨；</p>
                <p>梦想财务自由，没有思路和行动路线；</p>
                <p>现金存款一堆，静待货币贬值，不知如何做资产配置；</p>
                <p>不知道什么房产可以投资，什么房产不能碰？；</p>
                <p>不知道如何正确培养孩子、爱人、父母正确的财商；</p>
                <p>事业发展遇到瓶颈，无法突破；</p>
                <p>没有未来10年的愿景和目标，找不到努力方向；</p>
                <p>... ...</p>
            </section>
            <section>
                <h2>解决不了的问题：</h2>
                <p>
                  不涉及证券类内容的推荐、分析与预测，更不涉及到股票分析、股票推荐；
                </p>
            </section>
            <section>
                <h2>学习《格局财商2019》能收获到的：</h2>
                <p>
                  格局教不了你一夜暴富，但是能够教你一辈子受用的理财知识，不借钱投资，不短线投资。
                </p>
                <p>
                  课程内容逻辑清晰，不管你有无经验都可以能理解，都能形成自己的投资体系。
                </p>
                <p>
                  大量真实案例分享，学员感受分享，让你切实体会格局带来的收获。
                </p>
            </section>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://app0gqwtbxt5084.h5.xiaoeknow.com/content_page/eyJ0eXBlIjozLCJyZXNvdXJjZV90eXBlIjoiIiwicmVzb3VyY2VfaWQiOiIiLCJwcm9kdWN0X2lkIjoicF81YmYxNDIyZDQ1N2RjX2pCMHlzMWsxIiwiYXBwX2lkIjoiYXBwMEdxd3RCeFQ1MDg0Iiwic2hhcmVfdXNlcl9pZCI6InVfNWFmODA1YTdhZTIxNF9ORHhRU2RWdW5FIiwic2hhcmVfdHlwZSI6NSwiZXh0cmFfZGF0YSI6IjMwMiJ9" rel="nofollow">VIP课：格局财商2019</a></p>
                <img src="{% static 'images/cai2019.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://app0gqwtbxt5084.h5.xiaoeknow.com/content_page/eyJ0eXBlIjozLCJyZXNvdXJjZV90eXBlIjoiIiwicmVzb3VyY2VfaWQiOiIiLCJwcm9kdWN0X2lkIjoicF81YzdmMjYyNDk2YTM5X2dBcWFiZTJxIiwiYXBwX2lkIjoiYXBwMEdxd3RCeFQ1MDg0Iiwic2hhcmVfdXNlcl9pZCI6InVfNWFmODA1YTdhZTIxNF9ORHhRU2RWdW5FIiwic2hhcmVfdHlwZSI6NSwiZXh0cmFfZGF0YSI6IjMwMiJ9" rel="nofollow">VIP课：基金投资</a></p>
                <img src="{% static 'images/jijin.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://app0gqwtbxt5084.h5.xiaoeknow.com/content_page/eyJ0eXBlIjoyLCJyZXNvdXJjZV90eXBlIjozLCJyZXNvdXJjZV9pZCI6InZfNWJmMTRlY2VlM2UxY19OYjRXV0xxNCIsInByb2R1Y3RfaWQiOiJwXzViZjE0MjJkNDU3ZGNfakIweXMxazEiLCJhcHBfaWQiOiJhcHAwR3F3dEJ4VDUwODQifQ" rel="nofollow">试听课：财富交换的四种模式</a></p>
                <img src="{% static 'images/cai1.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://app0gqwtbxt5084.h5.xiaoeknow.com/content_page/eyJ0eXBlIjoyLCJyZXNvdXJjZV90eXBlIjozLCJyZXNvdXJjZV9pZCI6InZfNWMwMTBiZjVhM2QwZl9WRXVDYjVrTyIsInByb2R1Y3RfaWQiOiJwXzViZjE0MjJkNDU3ZGNfakIweXMxazEiLCJhcHBfaWQiOiJhcHAwR3F3dEJ4VDUwODQifQ" rel="nofollow">试听课：投资不动产的6个建议</a></p>
                <img src="{% static 'images/cai2.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://app0gqwtbxt5084.h5.xiaoeknow.com/content_page/eyJ0eXBlIjoyLCJyZXNvdXJjZV90eXBlIjoyLCJyZXNvdXJjZV9pZCI6ImFfNWMwNWZkYTk5MTZlZV9hNDh2S2d5cCIsInByb2R1Y3RfaWQiOiJwXzViZjE0MjJkNDU3ZGNfakIweXMxazEiLCJhcHBfaWQiOiJhcHAwR3F3dEJ4VDUwODQifQ" rel="nofollow">试听课：介绍篇 - 格局财商之道</a></p>
                <img src="{% static 'images/cai3.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://app0gqwtbxt5084.h5.xiaoeknow.com/content_page/eyJ0eXBlIjoyLCJyZXNvdXJjZV90eXBlIjoyLCJyZXNvdXJjZV9pZCI6ImFfNWMyYzE4YzEyNzUxNF9OMlVzeHdXTSIsInByb2R1Y3RfaWQiOiJwXzViZjE0MjJkNDU3ZGNfakIweXMxazEiLCJhcHBfaWQiOiJhcHAwR3F3dEJ4VDUwODQifQ" rel="nofollow">试听课：2019 - 财商重新分配的起点</a></p>
                <img src="{% static 'images/cai4.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://wx1b442ae62ff67ae3.h5.xiaoe-tech.com/content_page/eyJ0eXBlIjoyLCJhcHBfaWQiOiJhcHAwR3F3dEJ4VDUwODQiLCJyZXNvdXJjZV90eXBlIjoyMCwicHJvZHVjdF9pZCI6IiIsImNoYW5uZWxfaWQiOiIiLCJyZXNvdXJjZV9pZCI6ImVfNWMwM2M3NGY1YWZlNF9MVFh3em9LbSJ9" rel="nofollow">电子书：趋势的力量</a></p>
                <img src="{% static 'images/cai5.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <figure class="erweima tc">
                <p class="fz18 mtb10"><a href="http://wx1b442ae62ff67ae3.h5.xiaoe-tech.com/content_page/eyJ0eXBlIjoyLCJhcHBfaWQiOiJhcHAwR3F3dEJ4VDUwODQiLCJyZXNvdXJjZV90eXBlIjoyMCwicHJvZHVjdF9pZCI6IiIsImNoYW5uZWxfaWQiOiIiLCJyZXNvdXJjZV9pZCI6ImVfNWMzN2Y0N2Y1NjRmYV9tMkhWdGZiTCJ9" rel="nofollow">电子书：格局精神2019</a></p>
                <img src="{% static 'images/cai6.jpg' %}" alt="为什么要学习财商_学习财商能解决九大问题">
            </figure>
            <section>
                <h3 class="fz18 tc mtb10">格局学员·信念守则10条</h3>
                <p>1、先做人，再做事；先成长，再成功；吃亏在先，福报在后！</p>
                <p>2、每天生活工作都要全力以赴！绝不偷懒！决定一个人的一生，以及整个命运的，是日积月累的努力！</p>
                <p>3、选择比努力重要！努力付出必有回报！10年专注一件正确的事，一定会成功！</p>
                <p>4、明确目标会给你惊人的力量，世界青睐有雄心、怀抱梦想的人！因为这个世界在期待我们的贡献！</p>
                <p>5、起心动念的唯一出发点：善良和真诚！</p>
                <p>6、自己的路，自己决策，并对结果负责！为自己的一切负百分之百的责任！不抱怨、不推卸！</p>
                <p>7、人生就是一个不断受伤又不断痊愈的过程，受伤能使人变得更坚强。</p>
                <p>8、要努力成为别人的榜样！用你的行动帮助更多的人！要做一个有影响力的人，有使命感的人，坚信能够推动社会的前进！当你为他人创造了更美好的世界，你就为自己创造了更美好的世界。</p>
                <p>9、人生最重要的不是拥有多少金钱，也不是保障和稳定，而是对梦想的追求和家人爱的珍惜！每天感恩父母、感恩生活、感恩大自然！做一个自己快乐，并给别人带来快乐的人！</p>
                <p>10、多参加户外活动，从大山、大海中收获胸怀！多参加公益慈善活动，从大爱中收获力量！</p>
            </section>
        </article>
    </main>
{% endblock %}