{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <form action="/register/" method="post">
        <p>
            <label for="id_name">昵称:</label>
            <input type="text" name="name" maxlength="150" autofocus="" required="" id="id_name">
            {{ forms.errors.name }}
        </p>
        <p>
            <label for="id_username">用户名:</label>
            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
            {{ forms.errors.username }}
        </p>
        <p>
            <label for="id_phone">手机号:</label>
            <input type="text" name="phone" maxlength="11" autofocus="" required="" id="id_phone">
            {{ forms.errors.phone }}
        </p>
        <p>
            <label for="id_password1">密码:</label> <input type="password" name="password1" required="" id="id_password1">
            {{ forms.errors.password1 }}
        </p>
        <p>
            <label for="id_password2">密码确认:</label>
            <input type="password" name="password2" required="" id="id_password2">
            {{ forms.errors.password2 }}
        </p>
        <p>
            <label for="id_email">邮箱:</label>
            <input type="text" name="email" maxlength="150" autofocus="" required="" id="id_email">
            {{ forms.errors.email }}
        </p>
        {% csrf_token %}
        <button type="submit">注册</button>
    </form>
{% endblock %}